<%- include('partials/head') %> 
  <%- include('partials/navbar') %> 

    <div style="margin: 2rem">
      <h1>Welcome to <%= name %> </h1>
      <h2><%= description %> </h2>
      <p><%= subscribers %> Total subscribers</p>
     <hr>

     <% for(let post of posts) { %>
         <article>
              <p> <%= post.title  %> <b>Posted by <%= post.author %> </b></p>
              <% if(post.img) { %>
              <img src="<%= post.img %> " alt="">                
             <% } %> 
          </article>
     <% } %>
        </div> 

<%- include('partials/footer') %> 
