<%- include('partials/head') %> 
  <%- include('partials/navbar') %> 

    <section>
      <h1>Welcome to <%= name %> </h1>
      <h2><%= description %> </h2>
      <p><%= subscribers %> Total subscribers</p>
     <hr>
    </section>
    <section>
     <% for(let post of posts) { %>
         <article>
              <p> <%= post.title  %> <b>Posted by <%= post.author %> </b></p>
              <% if(post.img) { %>
              <img src="<%= post.img %> " alt="">                
             <% } %> 
          </article>
     <% } %>
    </section> 

<%- include('partials/footer') %> 
